.header-img {}

.header-container {
    height: 5vh;
}

html,
body {
    overflow-x: hidden;
    background:radial-gradient(white, azure, darkslategray);
     /*background-color: azure !important;*/
}

.content-container {
    padding: 0 5vw 0 5vw ;
    margin: 0 5vw 0 5vw ;
  
    background-color:white ;
}

.content-section {
    margin-top: 5vh;
    font-size: 3em;
   
}


/*#why{
    color:red;
    background-color:white;
}
#how{
    background-color:cornflowerblue;
    color:white;
}*/

.content-section-header {
    border-bottom: solid 3px;
    border-bottom-color: black;
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-size: 3.5em;
}

.content-section-image {
    float: right;
}

#why,
#how {}

.content-text {
    align-items: center;
    display: flex;
}

.headline{
font-size:4em;
   

}
.faq-item{
    border-bottom:dotted 1px;
    border-color:black;
    padding: 20px;
}
.faq-question{
    font-size: .5em;
    font-weight:bolder;
}
.faq-answer{
    font-size:.5em;
}